{% extends "header.html" %}
{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <div class="row">
        <div class="col">
            <form action="" method="POST">
                <div class="form-group">
                    {{ form.csrf_token }}

                    {{ form.user.label }}
                    {{ form.user(class="form-control", placeholder="Search") }}
                </div>
                {{ form.submit(class="btn btn-primary")}}
            </form>
        </div>
    </div>

    <div class="card-columns">
        {% for photo in photos %}
            <div class="card">
                <h5
                    class="card-header"
                >
                    {{photo.poster.username}}
                </h5>
                <img
                    class="card-img-top"
                    src="data:image/png;base64,{{photo.get_b64_image()}}"
                    alt=""
                >

                <div class="card-body">
                    <p class="card-text">
                        {{photo.caption}}
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            {{photo.date}}
                        </small>
                    </p>
                    <a
                        class="btn btn-primary stretched-link"
                        href="{{ url_for('photos.photo_detail', photo_id = photo.get_id())}}"
                    >
                        View
                    </a>
                </div>
            </div>
        {% endfor %} 
    </div>

{% endblock %}